body {
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
header {
    background-color: #1F2937;
    display: flex;
}
footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #E5EFEB;
    padding: 16px;
}
/* Rat images and captions */
.ratContainer {
    display: flex;
    justify-content: center;
}
.rat {
    flex-direction: column;
    align-items: center;
    flex: 0 1 auto;  /* flex-growth set to 0 to maintain width at any size*/
    margin: 48px 16px 30px 16px;
}
.ratImage {
    min-height: 160px;
    width: 160px;
    border-radius: 15px;
    border: 2px solid #1F2937;
}
.ratCaption {
    text-align: center;
    flex-wrap: wrap;
    font-size: 12px;
    width: 160px;
    padding: 8px 0 0 0;
    line-height: 18px;
}
/* Quote */
.quoteContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.quote {
    padding: 80px 64px 64px 64px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0rem 18rem 0rem 18rem;
}
.quoteAuthor {
    text-align: right;
    font-weight: bold;
    color: #1F2937;
    font-size: 18px;
    font-style: normal;
    padding: 0 80px 0 0;
}
